[http]
	sslverify = false
[user]
	name = c.piotre
	email = c.piotre@gmail.com
[alias]
	al = add --all
	cm = commit -m
	ci = commit
	cma = commit --amend -m
	st = status
	br = branch
	co = checkout
	unstage = reset HEAD --
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[https]
[core]
	ignorecase = false
