[http]
	sslverify = false
[user]
	name = c.piotre
	email = c.piotre@gmail.com
[alias]
	al = add --all
	cm = commit -m
	ci = commit
	cma = commit --amend -m
	st = status
	br = branch
	co = checkout
	unstage = reset HEAD --
	pr = pull --rebase
	glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	stash-all = stash save --include-untracked
[merge]
	conflictstyle = diff3
[push]
	default = simple
	followTags = true
[status]
	showUntrackedFiles = all
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[https]
[core]
	ignorecase = false
	editor = vim
[branch]
	autosetupmerge = always
	autosetuprebase = always

